/* Write your CSS here */
.list-item {
  border-style: solid;
  border-width: 1px;
  border-color: #b5b7c4;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.title-heading {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  color: #171f46;
}
.date-para {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-right: 35px;
  margin-top: 0px;
}
.title-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image-icon {
  height: 20px;
  width: 20px;
}
.star-button {
  background-color: transparent;
  border: none;
}
